<h2>Lista de Produtos</h2>

<!-- Filtro simples -->
<input type="text" [(ngModel)]="filterText" placeholder="Filtrar..." (input)="applyFilter()" />

<!-- Tabela de produtos -->
<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Descrição</th>
      <th>Preço</th>
      <th>Estoque</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <!-- Utilize 'paginatedProducts' em vez de 'filteredProducts' -->
    <tr *ngFor="let p of paginatedProducts">
      <td>{{ p.name }}</td>
      <td>{{ p.description }}</td>
      <td>{{ p.price }}</td>
      <td>{{ p.stock }}</td>
      <td>
        <button [routerLink]="['/products', 'edit', p._id]">Editar</button>
        <button (click)="onDelete(p._id!)">Excluir</button>
      </td>
    </tr>
  </tbody>
</table>

<!-- Controles de Paginação -->
<div class="pagination">
  <button (click)="previousPage()" [disabled]="currentPage === 1">Anterior</button>
  <span>Página {{ currentPage }} de {{ totalPages }}</span>
  <button (click)="nextPage()" [disabled]="currentPage === totalPages">Próxima</button>
</div>

<button [routerLink]="['/products', 'new']">Novo Produto</button>
